{% load static %}


<section class="flex items-center justify-center">
  <div class="flex flex-col items-center space-y-6 mx-auto text-center">
    <h2 class="text-2xl font-bold mb-4">
      L'Esprit des Lumières
    </h2>
    <div class="flex">
 {% for article in featured_articles %}
<div class="card bg-base-100 image-full w-72 shadow-xl m-2">
    <figure>
        <img
            src="{% if article.image %}{{ article.image.url }}{% elif article.keywords.first.image %}{{ article.keywords.first.image.url }}{% else %}{% static 'images/fallback.jpg' %}{% endif %}"
            alt="{{ article.title }}" />
    </figure>
    <div class="card-body">
        <p>{{ article.title }}</p>
    {% if article.is_video %}
        <p>video</p>
    {% endif %}
    </div>
</div>
{% endfor %}

    </div>
  </div>
</section>