    <div class="navbar bg-base-300 flex flex-col">
        <h1 class="text-4xl text-green-500 text-center">Le rugbyphile</h1>
        <p class="italic">"Rien de tout ce qui est ovale ne nous sera etranger"</p>
    </div>
    <div class="bg-gray-100 overflow-hidden shadow-md">
    <div class="flex whitespace-nowrap animate-scroll">
        <span class="mx-6 text-sm text-gray-800">Stade Toulousain wins the championship!</span>
        <span class="mx-6 text-sm text-gray-800">Upcoming match: Toulouse vs Racing 92</span>
        <span class="mx-6 text-sm text-gray-800">Rugby World Cup 2024 updates!</span>
    </div>
</div>
