    <div class="navbar bg-base-300 flex flex-col">
        <a href="/"><h1 class="text-4xl text-amber-900 text-center font-bold shadow-2xl">PapaRugby</h1>
        </a>
        <p class="italic text-sm md:text-xl">"Parce que rien de l'Ovalie ne nous sera étranger"</p>
    </div>
    <div class="bg-gray-800 overflow-hidden shadow-md">
    <div class="flex whitespace-nowrap animate-scroll">
                <span class="mx-6 text-sm text-white font-semibold">{{league_name}} : Journée {{round_number}}</span>
        {% for game in upcoming_games %}
            {% if game.status == 'finished'%}
                <span class="mx-6 text-sm text-white">{{game.home_team_name}} {{game.score_home}} - {{game.score_away}} {{game.away_team_name}}</span>
            {% else %}
                <span class="mx-6 text-sm text-white">{{game.home_team_name}} - {{game.away_team_name}}</span>
            {% endif%}
        {% endfor %}
    </div>
</div>
