<!-- FEATURED VIDEOS SECTION -->
        <div class="flex flex-col gap-y-4">
  <h3>Videos a la une</h3>
  <div class="flex flex-col gap-y-2">
    <div class="card lg:card-side bg-base-900 shadow-xl">
      <div class="card-body">
        <iframe
          class="w-full h-64"
          src="https://www.youtube.com/embed/NmfxvrPwLJI?si=FB3zoxvSzWFNWyNz"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <div class="card-body">
        <iframe
          class="w-full h-64"
          src="https://www.youtube.com/embed/0c0hyUgxeZ0?si=fAS4CevBXmWgtroi"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
          <p>gros test</p>
      </div>
    </div>
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <div class="card-body">
        <iframe
          class="w-full h-64"
          src="https://www.youtube.com/embed/eh-E-xxyKw0?si=31CMJKIbCQSggVQ3"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>