{% load static %}
<div>
    {% include 'partials/section_title.html' with title="La selection littéraire" subtitle="Une selection raffinée de la prose des plus grands écrivains du sport" %}

    <!--CAROUSEL THAT IS ONLY ACTIVE UNTIL WE REACH MD BREAKPOINT-->
    <div class="carousel carousel-center bg-neutral rounded-box max-w-md space-x-4 p-4 md:hidden">
        {% for article in featured_articles %}
        <div class="carousel-item relative border-2 rounded">
            <!-- Image with opacity -->
            <a href="{{article.link}}">
            <img
              src="{% if article.image %}{{ article.image.url }}{% elif article.keywords.first.image %}{{ article.keywords.first.image.url }}{% else %}{% static 'images/fallback.jpg' %}{% endif %}"
              class="rounded-box w-72 h-64 object-cover opacity-30 " />

            <!-- Title overlay -->
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="text-white text-center px-4 py-2 rounded font-semibold">
                    <p class="font-semibold">{{ article.title }}</p>
                    <p class="text-xs mt-2">{{article.published_at}}</p>
                </div>
            </div>

            <!--Banner overlay    -->
            <div class="absolute bottom-0 left-0 w-full h-8">
                <img
                    src="{{ article.website.banner.url }}"
                    alt="Banner"
                    class="w-full object-cover"
                    />
            </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- SECTION ONLY VISIBLE AT THE MD BREAKPOINT -->
    <div class="hidden md:grid grid-cols-3 lg:flex flex-col">
    {% for article in featured_articles %}
    <div class="relative flex justify-center my-2 overflow-y-hidden mx-2 ">
        <!-- Image with opacity -->
        <a href="{{ article.link }}" class="relative">
            <img
              src="{% if article.image %}{{ article.image.url }}{% elif article.keywords.first.image %}{{ article.keywords.first.image.url }}{% else %}{% static 'images/fallback.jpg' %}{% endif %}"
              class="rounded-box w-80 h-64 object-cover opacity-30 border-2 rounded" />

            <!-- Title overlay -->
            <div class="absolute inset-0 flex flex-col items-center justify-center">
                <div class="text-white text-center bg-black bg-opacity-50 px-4 py-2 rounded">
                    <p class="font-semibold">
                    {{ article.title }}
                    </p>
            <!--Published date -->
                <p class="text-xs">{{ article.published_at }}</p>
                </div>
            </div>


            <!--Banner overlay-->
            <div class="absolute bottom-0 left-0 w-full h-1/5">
                <img
                    src="{{ article.website.banner.url }}"
                    alt="Banner"
                    class="w-full object-cover"
                    />
            </div>
        </a>
    </div>
    {% endfor %}
</div>

</div>
