{% load custom_filters %}


<!-- NEWS LINKS -->
          <div>
          <div hx-get="/" hx-target="#articles-container" hx-swap="innerHTML" hx-trigger="change from:select" hx-include="#team, #language">
        <div class="flex justify-between">
        <!-- TEAM SELECTOR -->
        <select class="select  select-sm w-full max-w-xs" id="team" name="team">
            <option selected value="all_teams">Toutes les equipes</option>
            {% for team in teams %}
                <option value="{{ team.name }}">{{ team.name }}</option>
            {% endfor %}
        </select>

        <!-- LANGUAGE SELECTOR -->
        <select class="select select-sm w-full max-w-xs" id="language" name="language">
            <option selected value="french">French</option>
            <option value="english">English</option>
            <option value="all_articles">Both</option>
        </select>
    </div>
</div>


<!--Liste des liens vers les autres sites-->
<div class="flex flex-col justify-center items-center overflow-x-auto mx-auto my-6" id="articles">
  <table class="table table-zebra table-pin-cols">
    <!-- head -->
    <thead>
      <tr>
        <th>Site</th>
        <th>Titre</th>
        <th>Publication</th>
      </tr>
    </thead>
    <tbody id="articles-container" class="w-screen">
      {% for article in page_obj %}
      <tr>
        <td><img class="max-h-12" src="{{ article.website.logo }}"></td>
        <td>
          <div class="flex flex-col">
            <ul class="flex">
              {% for keyword_group in article.keywords.all %}
                <li class="px-2 mr-2 font-semibold rounded" style="background-color: {{ keyword_group.color }}">{{ keyword_group.name }}</li>
              {% endfor %}
            </ul>
          <a href="{{ article.link }}" target="_blank" rel="noopener noreferrer" class="text-xs">
                {{ article.title }}
            </a>

          </div>
        </td>
        <td>{{ article.published_at|friendly_date }}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>

  <!-- Pagination Controls -->
</div>
<div class="join ">
  {% if page_obj.has_previous %}
    <a href="?page=1"><button class="btn join-item">&laquo; First</button></a>
  <a href="?page={{ page_obj.previous_page_number }}"><button class="join-item btn">Previous</button></a>
  {% endif %}
    <button class="join-item btn disabled">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</button>
  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}#articles"><button class="join-item btn">Next</button></a>
  {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}#articles"><button class="btn join-item">&raquo; Last</button></a>

</div>

              </div>