{% load static %}


<div>
        <h3>Articles a la une</h3>
            <div class="flex flex-col">
                {% for article in featured_articles %}
                <div class="card bg-base-100 image-full w-full shadow-xl my-2 mx-auto">
                    <figure>
                        <img
                        src="{% if article.image %}{{ article.image.url }}{% elif article.keywords.first.image %}{{ article.keywords.first.image.url }}{% else %}{% static 'images/fallback.jpg' %}{% endif %}"
                        alt="{{ article.title }}" />
                    </figure>
                    <div class="card-body">
                        <p>{{ article.title }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>