{% load static %}
<div
  class="hero min-h-screen"
  style="background-image: url('{% static "images/rugbyphile.webp" %}');">
  <div class="hero-overlay bg-opacity-70"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5 text-white font-semibold">
          Soyez les bienvenus dans cet écrin de distinction dédié à l’art de l’Ovale. Ici, nous cultivons avec soin l’élégance de l’actualité rugbystique, triant avec une finesse toute particulière les récits et chroniques dignes de figurer en ces lieux. Laissez vos sens s’enivrer d’une sélection savamment orchestrée, pensée pour l’esprit éclairé et l’âme passionnée
      </p>
    </div>
  </div>
</div>