{% extends 'base.html' %}

{% block title %}PapaRugby - About{% endblock %}

{% block content %}
    {% include 'partials/welcome.html' with title="About" text="Né d’un projet initialement destiné à rester personnel, PapaRugby vise à regrouper en un seul endroit l’ensemble des sources que j’utilise quotidiennement pour me tenir à jour sur le rugby. <br>Si vous avez d’autres sources intéressantes ou si vous publiez vous-même du contenu, n’hésitez pas à me contacter." %}
<!--    {% include 'partials/section_about.html' %}-->
{% endblock %}