{% load static tailwind_tags %}
{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
    <title>Rugby News Aggregator</title>
       {% tailwind_css %}
</head>
<body>

<header class="sticky top-0 z-50">
    <div class="navbar bg-base-300">
            <h1 class="text-4xl text-green-500 text-center">Rugby news</h1>
    </div>
</header>

    <div class="hero bg-base-200 h-1/2">
      <div class="hero-content flex-col lg:flex-row">
        <div>
          <h1 class="text-5xl font-bold">Bienvenue!</h1>
          <p class="py-6">
            Ovalie News : votre terrain d’information rugbystique.
            Explorez chaque jour le meilleur de l'actualité rugby : clubs, équipes nationales, moments forts et coulisses du jeu.
            Ici, on vit rugby, on respire rugby, et on partage la passion avec vous !
          </p>
        </div>
      </div>
    </div>

<!--  FEATURED ARTICLES ZONE-->
<section class="flex items-center justify-center">
  <div class="flex flex-col items-center space-y-6 mx-auto text-center">
    <h2 class="text-2xl font-bold mb-4">
      A NE PAS MANQUER
    </h2>

    <div class="flex">
 {% for article in featured_articles %}
<div class="card bg-base-100 image-full w-72 shadow-xl m-2">
    <figure>
        <img
            src="{% if article.image %}{{ article.image.url }}{% elif article.keywords.first.image %}{{ article.keywords.first.image.url }}{% else %}{% static 'images/fallback.jpg' %}{% endif %}"
            alt="{{ article.title }}" />
    </figure>
    <div class="card-body">
        <p>{{ article.title }}</p>
    </div>
</div>
{% endfor %}

    </div>
  </div>
</section>


<!--Liste des liens vers les autres sites-->


<div class="flex flex-col justify-center items-center overflow-x-auto w-2/3 mx-auto my-6" id="articles">
  <h2>Les dernieres nouvelles</h2>
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Site</th>
        <th>Titre</th>
        <th>Publication</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      {% for article in page_obj %}
      <tr>
        <td><img class="max-h-12" src="{{ article.website.logo }}"></td>
        <td>
          <div class="flex flex-col">
            <ul class="flex">
              {% for keyword_group in article.keywords.all %}
                <li class="px-2 mr-2 font-semibold rounded" style="background-color: {{ keyword_group.color }}">{{ keyword_group.name }}</li>
              {% endfor %}
            </ul>
          <a href="{{ article.link }}" target="_blank" rel="noopener noreferrer">
                {{ article.title }}
            </a>

          </div>
        </td>
        <td>{{ article.published_at|friendly_date }}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>

  <!-- Pagination Controls -->
</div>
<div class="pagination flex justify-center">
  {% if page_obj.has_previous %}
  <a href="?page=1">&laquo; First</a>
  <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}#articles">Next</a>
  <a href="?page={{ page_obj.paginator.num_pages }}#articles">Last &raquo;</a>
  {% endif %}
</div>

</body>
</html>
