{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Rugby News Aggregator</title>
       {% tailwind_css %}
</head>
<body>
        <button class="btn btn-active">Default</button>
        <button class="btn btn-active btn-neutral">Neutral</button>
        <button class="btn btn-active btn-primary">Primary</button>
        <button class="btn btn-active btn-secondary">Secondary</button>
        <button class="btn btn-active btn-accent">Accent</button>
        <button class="btn btn-active btn-ghost">Ghost</button>
        <button class="btn btn-active btn-link">Link</button>
    <h1 class="text-4xl text-green-500 text-center">Rugby news</h1>
    <h1>Rugby News</h1>
    <ul>
        {% for article in articles %}
        <li>
            <h3>{{ article.website }}</h3>
            <a href="{{ article.link }}" target="_blank" rel="noopener noreferrer">
                {{ article.title }}
            </a>
            <small>Published: {{ article.published_at|date:"Y-m-d H:i" }}</small>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
