{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en" data-theme="cyberpunk">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M5WJGL45');</script>
<!-- End Google Tag Manager -->

<!-- Google ads-->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2221928012776901"
     crossorigin="anonymous"></script>
<!-- End Google ads-->
<script>
// Définissez dataLayer et la fonction gtag.

window.dataLayer = window.dataLayer || [];

function gtag(){dataLayer.push(arguments);}


// IMPORTANT - NE FAITES PAS DE COPIER/COLLER SANS MODIFIER LA LISTE DES RÉGIONS

// Définissez le consentement par défaut pour des régions spécifiques selon vos besoins

gtag('consent', 'default', {

  'ad_storage': 'denied',

  'ad_user_data': 'denied',

  'ad_personalization': 'denied',

  'analytics_storage': 'denied',

 'regions':'FR'

});

// Définissez le consentement par défaut pour toutes les autres régions selon vos besoins

gtag('consent', 'default', {

  'ad_storage': 'denied',

  'ad_user_data': 'denied',

  'ad_personalization': 'denied',

  'analytics_storage': 'denied'

});


</script>
<!--Script de la bannière ici !-->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="L'agrégateur de news rugby qui fait chuter ta productivité au travail de 80% mais qui te transforme en savant du rugby. TOP 14, Pro D2, XV de France, rien de ce qui est ovale ne nous sera étranger">
    <meta name="google-adsense-account" content="ca-pub-2221928012776901">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="shortcut icon" type="image/png" href="{% static 'news/ball.png' %}" >
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/script.js' %}" defer></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% if debug %}
    <!-- Vite dev server during development -->
    <script type="module" src="http://localhost:5173/src/main.ts"></script>
    {% else %}
    <!-- Bundled files for production -->
    <link rel="stylesheet" href="{{ vite_css }}">
    <script type="module" src="{{ vite_js }}"></script>
    {% endif %}

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5WJGL45"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header class="sticky top-0 z-50">
        {% include 'partials/header.html' %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% include 'partials/footer.html' %}
    </footer>
<script id="dsq-count-scr" src="//paparugby.disqus.com/count.js" async></script>
<!--<blockquote class="twitter-tweet">-->
<!--        <a href="https://twitter.com/stadetoulousain/status/1883949507056136703"></a>-->
<!--</blockquote>-->
<!--    <script src="{% static 'js/script.js' %}"></script> -->
<!--    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
</body>
</html>

