{% load static tailwind_tags %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M5WJGL45');</script>
<!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="L'agrégateur de news rugby qui fait chuter ta productivité au travail de 80% mais qui te transfome en savant du rugby">
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_css %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5WJGL45"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header class="sticky top-0 z-50">
        {% include 'partials/header.html' %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% include 'partials/footer.html' %}
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
<script>
<script>
window.axeptioSettings = {
  clientId: "677fcfdc6310dc02714cbc5f",
  cookiesVersion: "paparugby-fr-EU",
  googleConsentMode: {
    default: {
      analytics_storage: "denied",
      ad_storage: "denied",
      ad_user_data: "denied",
      ad_personalization: "denied",
      wait_for_update: 500
    }
  }
};

(function(d, s) {
  var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
  e.async = true; e.src = "//static.axept.io/sdk.js";
  t.parentNode.insertBefore(e, t);
})(document, "script");
</script>